psycopg2-binary
psycopg2
SQLAlchemy
alembic

fastapi[all]
uvicorn[standard]

ipython
requests
python-dotenv

locust
gunicorn

# pip install -U pip setuptools wheel pip-tools
# pip-compile
# pip-sync
# pip install -r requirements.txt
