psycopg2-binary
psycopg2
SQLAlchemy
alembic

fastapi[all]
uvicorn[standard]

ipython
requests
python-dotenv

locust
gunicorn

# pip install -U pip setuptools wheel pip-tools --timeout 50
# pip-compile & pip-sync
# pip install -U locust coverage
# pip install -r requirements.txt --timeout 50
